* {
    padding: 0;
    margin: 0;
}
:root {
    scroll-behavior: smooth;
}
body {
    background-color: #0f172a;
    height: 1000px;
}
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.15);
    border-width: 1px;
    border-style: solid;
    botder-color: rgba(255,255,255,0.25);
    margin-bottom: 20px; 
    position: sticky;
    top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    backdrop-filter: blur(13px);
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
}
header button {
    width: 75px;
    height: 35px;
    color: #fff;
    background-color: #38bdf8;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #38bdf8;
    border: 0 solid transparent;
    pointer-events: all;
    cursor: pointer;
    align-self: center;
    transition-duration: 0.3s;
}
header button:hover {
    transform: scale(1.1);
}
header h2 {
    color: #f8fafc;
    padding:10px 10px;
}
header h2 span {
    color: #38bdf8; 
    text-shadow: 0 0 10px #38bdf8;
}

section {
    direction: rtl;
    margin: 20px;
    color: #ffffff;
    font-size: x-large;
}
section .item1 img,
.item2 img,
.item3 img,
.item4 img,
.item5 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

section .link {
    width: 135px;
    height: 50px;
    margin-top: 10px;
    background-color: #38bdf8;
    box-shadow: 0 0 10px #38bdf8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition-duration: 0.3s;
}
section .link:hover{
    transform: scale(1.1);
}
section .link a {
    text-decoration: none;
    color: #f8fafc;
}
.collection {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0f172a;
}
section .item1 {
    position: relative;
}
section .item1 h3 {
    align-self: center;
    margin-top: 10px;
}
section .item1 p {
    margin: 15px;
}
section .item1 .discount {
width: 80px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    color: #000;
    background-image: linear-gradient(146deg, #cdff00, #ff9005);
    position: absolute;
    top: 0%;
    margin-top: -20px;
    margin-right: -10px;
}
section .item2 {
    position: relative;
}
section .item2 .discount {
    width: 80px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    color: #000;
    background-image: linear-gradient(146deg, #cdff00, #ff9005);
    position: absolute;
    top: 0%;
    margin-top: -20px;
    margin-right: -10px;
}
.item2 h3,
.item3 h3,
.item4 h3,
.item5 h3 {
    align-self: center;
    margin-top: 10px;
}
.item2 p {
    margin: 15px;
}
.item1,
.item2,
.item3,
.item4,
.item5 {
    width: 300px;
    height: 350px;
    background-color: #022d66;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: #ffffff;
}
footer {
    margin-top: 40px;
    background-color: #0b0f19;
    display: flex;
    align-items: center;
    gap: 20px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

footer ul li {
    font-size: large;
}
footer ul li a {
    color: #f8fafc;
    text-decoration: none;
    transition: 0.4s;
}
footer ul li a:hover {
    color: #38bdf8;
    text-shadow: 0 0 10px #38bdf8;
}
footer p {
    color: #94a3b8;
    cursor: pointer;
    font-size: smaller;
}

footer ul li:hover {
    opacity: 0.7;
}
